Repository blokur/external-sort, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, file, sftp, vector, ci

.github/labeler.yml:

repo:
  - repo/*
  - repo/**/*

file:
  - file/*
  - file/**/*

sftp:
  - sftp/*
  - sftp/**/*

vector:
  - vector/*
  - vector/**/*

ci:
  - .github/*
  - .github/**/*

chore(dependencies): update modules
  go.mod
  go.sum
Labels: none

ref: remove unused code
  sftp/sftp.go
Labels: sftp

feat(file): add resource collector
  file/collector.go
Labels: file

ref(batchingchannels): replace panics with errors
  file/batchingchannels/batching_channel.go
  file/batchingchannels/batching_channel_test.go
  file/file.go
Labels: file

feat(batchingchannels): stop iterating on cancel
  file/batchingchannels/batching_channel.go
  file/file.go
Labels: file

ref(file): implement io.Writer on the File
  file/errors.go
  file/file.go
  file/sort.go
  go.mod
  go.sum
  main.go
  main_bench_test.go
  main_test.go
Labels: file

docs(file): explain how it should be used
  .github/workflows/integration.yml
  file/file.go
  main.go
Labels: file, ci

fix(tests): the tests were not setup correctly
  main_test.go
Labels: none

fix(sort): memory consumption
  file/sort.go
Labels: file

ref(vector): memory allocation improvements
  file/file.go
  vector/slice_vector.go
Labels: file, vector
